In [1]:
%load_ext sql
%sql sqlite://

/Users/tarabalakrishnan/.local/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/tarabalakrishnan/.local/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

'Connected: None@None'

In [2]:
%%sql drop table if exists product;
create table product(
       pname        varchar primary key, -- name of the product
       price        money,               -- price of the product
       category     varchar,             -- category
       manufacturer varchar NOT NULL     -- manufacturer
);
insert into product values('Gizmo', 19.99, 'Gadgets', 'GizmoWorks');
insert into product values('PowerGizmo', 29.99, 'Gadgets', 'GizmoWorks');
insert into product values('MultiTouch', 203.99, 'Household', 'Hitachi');
insert into product values('SingleTouch', 149.99, 'Photography', 'Canon');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Activity 2-2:
-------------

Single table queries

Exercise #1
-----------

Try writing a query to get an output table of all the products with "Touch" in the name, showing just their name and price, and sorted alphabetically by manufacturer.

Let's look at the products first:

In [3]:
%sql select * from product;

Done.

[(u'Gizmo', 19.99, u'Gadgets', u'GizmoWorks'),
 (u'PowerGizmo', 29.99, u'Gadgets', u'GizmoWorks'),
 (u'MultiTouch', 203.99, u'Household', u'Hitachi'),
 (u'SingleTouch', 149.99, u'Photography', u'Canon')]

Write your query here:

In [5]:
%sql Select pname, price from product where pname LIKE '%Touch%'

Done.

[(u'MultiTouch', 203.99), (u'SingleTouch', 149.99)]

Next, write a query that returns the _distinct_ names of manufacturers that make products with "Gizmo" in the name:

In [6]:
%sql Select distinct manufacturer from product where pname like '%Gizmo%'

Done.

[(u'GizmoWorks',)]

Exercise #2:
------------

Try some of these queries but first guess what they return.

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY category;

In [3]:
%sql SELECT category FROM product ORDER BY pname;

Done.

[(u'Gadgets',), (u'Gadgets',), (u'Household',), (u'Photography',)]

In [ ]:
%sql SELECT DISTINCT category FROM product ORDER BY pname;